*
    // scroll-behavior: smooth
    body
        margin: 0
        header
            // Grande div
            #homePage
                nav
                    // color: white
                    // background: linear-gradient(rgba(65, 56, 56, 0.877), rgba(206, 202, 202, 0.849))
                    a
                        font-weight: bold
                        color: white
                    a:first-child
                        // On ne voit pas le bouton en responsive
                    button
                        span
                #accueil
                    #bgHome
                        background: url("../img/sand.jpg")
                        background-size: cover
                        background-repeat: no-repeat
                        height: 100vh



// position: relative

// background: linear-gradient(rgba(22, 20, 20, 0.877), rgba(0, 0, 0, 0.849)),url("../images/banner1.jpg")