@import ./_classes

*
    scroll-behavior: smooth
    body
        margin: 0
        header
            padding: 0.5% 1.5% 0.5% 1.5%
            width: 100%
            position: fixed
            top: 0%
            display: flex
            justify-content: space-between
            #theo
                display: flex
                width: 150px
                a
                    img
                        height: 70px
                div
                    width: 100%
                    a
                        margin: 0% 0% 0% 5%
                        display: flex
                        flex-direction: column
                        justify-content: center
                        text-align: center
                        text-decoration: none
                        i
                            margin: 10% 0% 0% 0%
                            font-size: 30px
                            color: $white
                        span
                            margin: 5% 0% 0% 0%
                            text-align: center
                            color: $white
                            font-size: 18px
            #headerDroit
                width: 250px
                display: flex
                justify-content: space-around
                align-items: center
                a
                    margin: 0% 10%
                i
                    font-size: 28px
                    color: $white
                #moins 
                    font-size: 28px
                    color: $white
                div
                    #btnNav
                        #plus
                            font-size: 40px
                            padding: 0% 5% 0% 0%
        // .nav-transparent
        //     background-color: initial
        // .nav-colored
        //     background-color: #1D6F72
        #navRight
            background-color: #B7A394
            height: 100vh
            ul
                padding: 8% 5% 5% 5%
                list-style : none
                height: 100%
                li
                    margin: 3% 0%
                    text-align: center
                    a
                        font-size: 80px
                        color: $white
                        font-weight: bold
        #sectionHome
            background: linear-gradient(rgba(213, 213, 213, 0.576), rgba(0, 0, 0, 0.255)), url("../img/bg/sand.jpg")
            background-size: cover
            background-repeat: no-repeat
            height: 100vh
            #home1
                height: 90vh
                display: flex
                align-items: center
                #sideNav
                    width: 10%
                    li
                        list-style: none
                        margin: 7% 0%
                        a
                            font-weight: bold
                            font-size: 25px
                            text-decoration: none
                            color: $white
                            position: relative
                            max-width: max-content
                        a::before
                            content: ""
                            position: absolute
                            bottom: -5px
                            background-color: $white
                            width: 0px
                            height: 5px
                            transition: 1s
                        a:hover::before
                            width: 100%
                //// 1ère slide : HOME
                #homeContent1
                    width: 90%
                    display: flex
                    justify-content: center
                    height: 75vh
                    margin: 5% 0% 0% 0%
                    padding: 5%
                    #divTitle
                        width: 100%
                        display: flex
                        justify-content: center
                        align-items: center
                        height: 100%
                        div
                            padding: 1% 1.5%
                            h1
                                font-size: 80px
                                font-weight: bold
                                color: $white
                            h2
                                text-align: center
                                font-size: 60px
                                color: $dark
                                // font-weight: bold
                        div:hover
                            border: $white 5px solid
                //// 2ème slide : My work
                #homeContent2
                    width: 90%
                    display: flex
                    justify-content: center
                    height: 75vh
                    margin: 5% 0% 0% 0%
                    padding: 5%
                    #divWork
                        width: 100%
                        display: flex
                        div
                            width: 40%
                            h1
                                color:  #1D6F72
                                font-weight: bold
                                font-size: 66px
                                margin: 0% 0% 8% 0%
                            p
                                font-size: 20px
                                width: 70%
                                margin: 0% 15% 0% 5%
                                font-weight: bold
                                text-align: right
                                color:#1D6F72
                                background-color: #ffffff5d
                                padding: 5%
                            button
                                margin: 10% 0% 0% 20%
                                color: $white
                                font-size: 25px
                                font-weight: bold
                                border: $white solid 1px
                                border-radius: 30px
                                background: none
                                padding: 1% 5%
                            button:hover
                                background-color: #1D6F72
                        a
                            width: 60%
                            #workImg
                                div
                                    display: flex
                                    img
                                        height: 270px
                                        width: 400px
                //// 3ème slide : ABOUT
                #homeContent3
                    width: 90%
                    display: flex
                    justify-content: center
                    height: 75vh
                    margin: 5% 0% 0% 0%
                    padding: 5%
                    #divAbout
                        width: 100%
                        height: 100%
                        display: flex
                        div
                            width: 40%
                            padding-left: 5%
                            h1
                                color: #1D6F72
                                font-weight: bold
                                font-size: 65px
                                margin: 0% 0% 5% 0%
                            p
                                color: #1D6F72
                                font-size: 20px
                                text-align: right
                                width: 60%
                                margin: 10% 0% 0% 10%
                                font-weight: bold
                                background-color: #ffffff5d
                                padding: 5%
                            button
                                margin: 10% 0% 0% 20%
                                color: $white
                                font-size: 25px
                                font-weight: bold
                                border: $white solid 1px
                                border-radius: 30px
                                background: none
                                padding: 1% 5%
                            button:hover
                                background-color:  #296D6C
                        a
                            width: 60%
                            height: 100%
                            #AboutImg
                                height: 100%
                                width: 100%
                                display: flex
                                img
                                    height: 100%
                                    padding-left: 5%
                //// 4ème slide : CONTACT
                #homeContent4
                    width: 90%
                    display: flex
                    justify-content: center
                    height: 75vh
                    margin: 5% 0% 0% 0%
                    padding: 5%
                    #divContact
                        width: 100%
                        display: flex
                        div
                            width: 40%
                            h1
                                color: #1D6F72
                                font-weight: bold
                                font-size: 75px
                                margin: 0% 0% 8% 0%
                            p
                                font-weight: bold
                                margin: 0% 13% 10% 10%
                                text-align: right
                                color: #296D6C
                                background-color: #ffffff5d
                                padding: 5%
                                font-size: 18px
                            a
                                text-decoration: none
                                color: $white
                                font-size: 25px
                                width: 75%
                                margin: 8% 0% 0% 15%
                                font-weight: bold
                            a:hover
                                color: #296D6C
                            .icone
                                font-size: 60px
                                margin: 10% 0% 0% 5%
                        #contactImg
                            display: flex
                            justify-content: center
                            width: 60%
                            img
                                height: 550px
            #home2
                height: 10vh
                display: flex
                justify-content: flex-end
                align-items: flex-start
                #scroll
                    height: 10vh
                    padding: 0% 5%
                    display: flex
                    flex-direction: column
                    justify-content: center
                    p
                        color: $white
                        font-size: 18px
                        margin: 0% 0% 7% 0%
                    i
                        text-align: center
                        padding: 0% 0% 33% 0%
                        font-size: 20px
                        color: $white
        #sectionWork
            background-color: #dfcfcac2
            #workTitle
                background-color: #B7A394
                height: 75vh
                display: flex
                justify-content: center
                align-items: center
                div
                    h1
                        font-size: 90px
                        font-weight: bold
                        color: $white
                    h2
                        color: $white
            div
                div
                    padding: 6% 0%
                    height: fit-content
                    h3
                        margin: 2% 0% 0% 0%
                        text-align: center
                        line-height: 2
                .kard
                    border-radius: 30px
                    #workDesc
                        padding: 0%
                        background-color: #B7A394
                        border-top-left-radius: 30px
                        border-bottom-left-radius: 30px
                        height: 100%
                        h4
                            margin: 8% 0% 5% 8%
                        p
                            margin: 6% 0% 3% 8%
                        a
                            button
                                border: none
                                padding: 1.5%
                                margin: 4% 0% 14% 8%
                                border-radius: 5px
                    #workImg
                        border-top-right-radius: 30px
                        border-bottom-right-radius: 30px
                        padding: 0%
                        height: 100%
                        img
                            border-top-right-radius: 30px
                            border-bottom-right-radius: 30px
                            width: 100%
                            height: 290px
                    #workDesc2
                        padding: 0%
                        background-color: #B7A394
                        border-top-right-radius: 30px
                        border-bottom-right-radius: 30px
                        height: 100%
                        h4
                            margin: 8% 0% 5% 8%
                        p
                            margin: 6% 0% 3% 8%
                        a
                            button
                                border: none
                                padding: 1.5%
                                margin: 4% 0% 14% 8%
                                border-radius: 5px
                    #workImg2
                        border-top-left-radius: 30px
                        border-bottom-left-radius: 30px
                        padding: 0%
                        height: 100%
                        img
                            border-top-left-radius: 30px
                            border-bottom-left-radius: 30px
                            width: 100%
                            height: 290px
                #siteChef
                    div:fist-child
                    div:nth-child(2)
                        img
                            height: 315px
                .kardt
                    border-radius: 30px
                    #workDesc
                        padding: 0%
                        background-color: #B7A394
                        border-top-left-radius: 30px
                        border-bottom-left-radius: 30px
                        height: 100%
                        h4
                            margin: 8% 0% 10% 8%
                        a
                            button
                                border: none
                                padding: 1.5%
                                margin: 4% 0% 15% 8%
                                border-radius: 5px
                    #workImg
                        border-top-right-radius: 30px
                        border-bottom-right-radius: 30px
                        padding: 0%
                        height: 100%
                        img
                            border-top-right-radius: 30px
                            border-bottom-right-radius: 30px
                            width: 100%
                            height: 275px
                    #workDesc2
                        padding: 0%
                        background-color: #B7A394
                        border-top-right-radius: 30px
                        border-bottom-right-radius: 30px
                        height: 100%
                        h4
                            margin: 8% 0% 10% 8%
                        a
                            button
                                border: none
                                padding: 1.5%
                                margin: 4% 0% 15% 8%
                                border-radius: 5px
                    #workImg2
                        border-top-left-radius: 30px
                        border-bottom-left-radius: 30px
                        padding: 0%
                        height: 100%
                        img
                            border-top-left-radius: 30px
                            border-bottom-left-radius: 30px
                            width: 100%
                            height: 275px
                #poke
                    display: flex
                    justify-content: center
                    img
                        height: 500px
                #divTitre
                    padding: 0%
                    h3
                        font-weight: bold
                        text-decoration: underline
                    h4
                        text-align: center
                        margin: 5% 0% 0% 4%
                #retour
                    padding: 1% 0%
                    a
                        display: flex
                        justify-content: center
                        width: 100%
                        font-size: 20px
                        text-decoration: none
                        i
                            color: #B7A394
                            margin: 2%
                            font-size: 40px
                        span
                            font-size: 25px
                            color: #B7A394
                            font-weight: bold
                            margin: 2% 0% 0% 0%
        #sectionAbout
            background-color: #dfcfcac2
            #aboutTitle
                background-color: #B7A394
                height: 75vh
                display: flex
                justify-content: center
                align-items: center
                div
                    h1
                        font-size: 90px
                        font-weight: bold
                        color: $white
                    h2
                        color: $white
                        font-size: 40px
            div
                #intro
                    padding: 6% 0%
                    h2
                        padding: 0% 8%
                        text-align: center
                div
                    padding: 4% 0%
                    h3
                        background-color: #B7A394
                        margin: 0% 0% 4% 0%
                        padding: 1%
                        border-top-left-radius: 10px
                        border-bottom-right-radius: 10px
                    p
                        padding: 0% 0% 0% 2%
                    h5
                        padding: 0% 0% 2% 2%

            #retour
                padding: 1% 0%
                a
                    display: flex
                    justify-content: center
                    width: 100%
                    font-size: 20px
                    text-decoration: none
                    i
                        color: #B7A394
                        margin: 2%
                        font-size: 40px
                    span
                        font-size: 25px
                        color: #B7A394
                        font-weight: bold
                        margin: 2% 0% 0% 0%
    

    
button:focus
    outline: none